.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.header {
}

.header-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  height: 20px;
  padding: 5px;
}

.header-company-title {
  color: #fff;
  font-size: 0.9rrem;
  padding-left: var(--padding-left-right);
}

.header-separtor {
  height: 10px;
  background-color: black;
  opacity: 0.30;
}

.header-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #006666;
  height: 50px;
  padding: 5px;
  padding-right: 150px;
}

.header-title {
  color: #fff;
  font-size: 1.5rem;
  padding-left: var(--padding-left-right);
}



.content-container {
  padding-top: 40px;
  color: #5f9ea0;
  margin: 0 var(--padding-left-right) var(--padding-left-right);
}

.content-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #5f9ea0;
  margin-bottom: 20px;
}

.content-title {
  font-size: 1.5rem;
}


.modules-container {
  padding-top: 40px;
  color: #5f9ea0;
  margin: 0 var(--padding-left-right) 0 var(--padding-left-right);
}

.modules-title {
  font-size: 2rem;
  padding-bottom: 10px;
}

.module-container {
  display: flex;
  align-items: center;
  padding-left: var(--padding-left-right);
  padding-right: var(--padding-left-right);
  padding: 10px 10px 10px 50px;
}

.module-image {
  width: 50px;
  height: 50px;
  background-color: #a0d6b4;
  border: 1px solid lightblue;
  border-radius: 50%;
  
}

.module-title {
  padding-left: 10px;
  font-size: 1.25rem;
  color: #006666;
}


.module-info-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.module-edit-form {
  margin-left: 15px; 
  margin-right: 15x; 
  display: flex;
  flex-direction: column;
}

.button-container-row {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content:  center;
  align-items: center;
}
